
# Safari.
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'),
       local('Roboto-Thin'),
       url(https://fonts.gstatic.com/s/roboto/v15/Jzo62I39jc0gQRrbndN6nXYhjbSpvc47ee6xR_80Hnw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'),
       local('Roboto-Light'),
       url(https://fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfSZ2oysoEQEeKwjgmXLRnTc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'),
       local('Roboto-Regular'),
       url(https://fonts.gstatic.com/s/roboto/v15/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf) format('truetype');
}

body {
  background-color:#1B1B1B;
  padding-top: 46px;
  padding-right: 96px;
  padding-bottom: 96px;
  padding-left: 96px;
}

h1 {
    color: #7AFFDB;
    text-align: center;
    font-family: "Roboto";
    font-weight: medium;
    font-size: 60px;
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 100px;
    
  }
#hmw {
  color: #FAFAFA;
  text-align: center;
    font-family: "Work Sans";
    font-weight: medium;
    font-size: 60px;
    margin-top: 160px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.topheader{
  vertical-align:top;

}

h2 {
  color: #FAFAFA;
  text-align: left;
  font-family: "Work Sans";
  font-weight: lighter;
  font-size: 48px;
  float: left;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 30px;
  
  }

#promptbutton {
  float: right;
  ;
}
.button:focus {outline:0;}
.button {
  border-radius: 9px;
  background: #1B1B1B;
  box-shadow: inset -5px -5px 5px #0b0b0b, 
            inset 5px 5px 5px #2b2b2b;  
  border: none;
  vertical-align:top;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Work Sans";
  font-weight: medium;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer
    }

.active, .button:active {
  background: #1B1B1B;
  box-shadow: inset 5px 5px 5px #0b0b0b, 
          inset -5px -5px 5px #2b2b2b;
  transform: translateY(4px);
  }

.button:focus {
  background: #1B1B1B;
  box-shadow: inset 5px 5px 5px #0b0b0b, 
              inset -5px -5px 5px #2b2b2b;
  transform: translateY(4px);
  }
     

.button2:focus {outline:0;}
.button2 {
  border-radius: 9px;
  background: #1B1B1B;
  box-shadow: inset -5px -5px 5px #0b0b0b, 
            inset 5px 5px 5px #2b2b2b;  
  border: #0b0b0b;
  vertical-align:top;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Work Sans";
  font-weight: medium;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }

.button2:active {
  background: #1B1B1B;
  box-shadow: inset 5px 5px 5px #0b0b0b, 
            inset -5px -5px 5px #2b2b2b;
  transform: translateY(4px);
}
.button2:focus {
  background: #1B1B1B;
  box-shadow: inset 5px 5px 5px #0b0b0b, 
              inset -5px -5px 5px #2b2b2b;
  transform: translateY(4px);
  }

.refresh {
  color: #FAFAFA;
  text-align: right;
  font-family: "Work Sans";
  font-weight: medium;
  font-size: 24px;
  float: right;
        
  }
  
#button3:focus {outline:0;}
#button3 {
  border-radius: 50%;
  background: linear-gradient(145deg, #1d1d1d, #181818);
  box-shadow:  6px 6px 12px #0e0e0e, 
               -6px -6px 12px #282828;
  border: none;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 100px; 
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto";
  font-weight: medium;
  font-size: 16px;
  word-wrap: break-word;
  padding: 30px 12px;
  cursor: pointer;
  box-align: right;
  }

#button3:active {
  background: #1B1B1B;
  box-shadow: inset 5px 5px 5px #0b0b0b, 
              inset -5px -5px 5px #2b2b2b;
  transform: translateY(4px);
}

