<!DOCTYPE html>
<html>
<head>
    <title>Ship Design</title>
    <meta name="description" content="How Might We statement generator">
    <meta name="keywords" content="How might we, prompt, design, generator, statement, design thinking">
    <meta name="author" content="Sanya Verma">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="30">
    <meta property= "og:image" content="img/cover_img.png"/>
    <meta property= "og:image:width" content="1200"/>
    <meta property= "og:image:height" content="630"/>
    <link rel="stylesheet" href="static/css/styles.css">
    
</head>

<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <div class= "topheader"> 
        <h2>Ship Designs</h2>
        <div id="promptbutton">
            <button class="button active" id=serious>Serious Prompts</button>
            <button class="button" id=fun>Fun Prompts</button>
          </div>
          
          <script>
          // Add active class to the current button (pushed in)
          var header = document.getElementById("promptbutton");
          var btns = header.getElementsByClassName("button");
          for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function() {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
            });
          }
          </script>
    </div>

    <h1 id="hmw">How might we</h1>
    <h1 id="prompt">redesign the contraceptive buying experience for teenage girls to make it less stigmatizing?</h1>
    
    <div class="refresh">
        <button id="button3">refresh</button>
    </div>
    <script type="text/javascript" >
        var btn = document.getElementsByClassName("button active");
             if(btn.id !=="serious"){
                btn.onclick = function(){ setClicked(data); } 
             }
             else {
                 alert("please click at least one button");
             }
     </script>
    <script>
        // Click to run the funtion
        $("#button3").click(function() {
             // Array containing colors 
            var colors=["#FF7A7A", "#FF663F", "#FF9A3F", "#FFC23F", "#FFDF3F", "#F1FF3F", "#C0FF3F", "#97FF3F", 
                        "#58FF3F", "#3FFF72", "#3FFFB2", "#3FFFD9", "#3FE2FF", "#3FCCFF", "#3F8BFF", "#783FFF", 
                        "#A73FFF", "#D73FFF", "#FF3FE8", "#FF3F83", "#FF3F3F", "#F64D54", "#FFFF00", "#FFD700", "#FFC1C1", 
                        "#FFBBFF", "#FFB6C1", "#FFB90F", "#FFA07A", "#FF92BB", "#FF9912", "#FF9955", "#FF8C69", "#FF82AB", 
                        "#FF7D40", "#FF6EC7", "#FF6A6A", "#FF6666", "#FF3E96", "#FF4040", "#FF4500", "#FF3333", "#FF1493", 
                        "#FF007F", "#FF003", "#FEE5AC", "#FCDC3B", "#FC1501", "#FBA16C", "#FA8072", "#F64D54", "#F5785A",
                        "#F2473F", "#EEEE00", "#E47833", "#DC143C", "#CD2990", "#CC99CC", "#CAE1FF", "#CAFF70", "#C6E2FF",
                        "#C3E4ED", "#C1F0F6", "#C1FFC1", "#C0FF3E", "#BF5FFF", "#BF3EFF", "#BCED91", "#BCEE68", "#BDA0CB",
                        "#BBFFFF", "#B9D3EE", "#B3EE3A", "#B452CD", "#B272A6", "#B0E0E6", "#ADFF2F", "#AAAAFF", "#AADD00",
                        "#AA00FF", "#A74CAB", "#A4DCD1", "#A2CD5A", "#9F5F9F", "#9AFF9A", "#9B30FF", "#99CDC9", "#90FEFB", 
                        "#90EE90", "#87CEFF", "#88ACE0", "#5190ED", "#50A6C2", "#4EEE94", "#4D4DFF", "#40E0D0", "#4169E1"];
            // selecting random color for serious 
            var random_color = colors[Math.floor( Math.random() * colors.length )]; 
            var x = document.getElementById('prompt');
            x.style.color = random_color; 

            // Display fun prompt python script 
            var btn = document.getElementsByClassName("button active");
            if (btn.serious !== undefined) {
                $.get('https://ship-designs.herokuapp.com//serious',  // url
                    function (data, textStatus, jqXHR) {  // success call back
            //             alert('status: ' + textStatus + ', data:' + data);
                        $("#prompt").html(data);
                    });
            } else {
                $.get('https://ship-designs.herokuapp.com//fun',  // url
                    function (data, textStatus, jqXHR) {  // success call back
            //             alert('status: ' + textStatus + ', data:' + data);
                        $("#prompt").html(data);
                    });
            }
        });
    </script>
   
</body> 
</html>
